<h2> [[ name ]] </h2>

<div style='text-align: right;'>
  <form class='navbar-search pull-left' ng-submit='doUserSearch()'>
    <input type='text' autocomplete='on' list='users' placeholder='Search users' ng-model='user_query'/>
    <datalist id='users'>
      <option ng-repeat='user in users' value='[[user]]'>
    </datalist>
  </form>
</div>

<div id='user-stat'>
  <h3>Stat</h3>
  <dl>
    <dt>総参加数</dt> <dd>[[ count ]] 回</dd>
    <dt>参加率</dt> <dd>[[ (count / archives.length) * 100 | number:0 ]] %</dd>
    <dt>はじめての参加</dt> <dd> <a href='[[first.archive_url]]'>第[[ first.id ]]回 [[first.author.name]] [[first.date]]</a></dd>
    <dt>最後の参加</dt> <dd> <a href='[[last.archive_url]]'>第[[ last.id ]]回 [[last.author.name]] [[last.date]]</a></dd>
    <dt>Current streak</dt> <dd>[[ current_streak ]] 回</dd>
    <dt>Longest streak</dt> <dd>[[ longest_streak ]] 回</dd>

    <dt>Participations</dt>
    <dd id='d3-participation-streak-graph'>
    </dd>
  </dl>
</div>


<h3>参加してない読書会</h3>

<table>
<thead>
<tr>
  <th> ナンバー</th>
  <th> 日時</th>
  <th> vimrc </th>
  <th> ログ</th>
</tr>
</thead>
<tbody>
  <tr ng-repeat='archive in not_participated'>
    <td><a href='[[archive.archive_url]]'>第[[ archive.id ]]回</a></td>
    <td> [[archive.date]] </td>
    <td> <a href='[[ archive.vimrc[0].url ]]'>[[ archive.author.name ]]</a> さん </td>
    <td><a href='[[ archive.log ]]'>ログ</a></td>
  </tr>
</tbody>
</table>

<h3>参加した読書会</h3>

<table>
<thead>
<tr>
  <th> ナンバー</th>
  <th> 日時</th>
  <th> vimrc </th>
  <th> ログ</th>
</tr>
</thead>
<tbody>
  <tr ng-repeat='archive in participated'>
    <td><a href='[[archive.archive_url]]'>第[[ archive.id ]]回</a></td>
    <td> [[archive.date]] </td>
    <td> <a href='[[ archive.vimrc[0].url ]]'>[[ archive.author.name ]]</a> さん </td>
    <td><a href='[[ archive.log ]]'>ログ</a></td>
  </tr>
</tbody>
</table>

<a href='' ng-href='/reading-vimrc/stat/'>全体のStatに戻る</a>
