<nav>
    <div class="nav-bar">
        <button class="nav-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="nav-head" href="{{ site.github.url }}/">vimrc読書会</a>
    </div>
    <div class="collapse navbar-collapse target">
        <ul class="nav-list">
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="{{ site.github.url }}/">Home</a></li>
            <li {% if page.url == '/archive/index.html' %}class="active"{% endif %}><a href="{{ site.github.url }}/archive/index.html">Archive</a></li>
            <li {% if page.url == '/stat/index.html' %}class="active"{% endif %}>
              <a
                {% if page.url == '/stat/index.html' %}
                  href=""
                  ng-href="{{ site.github.url }}/stat/#/"
                {% else %}
                  href="{{ site.github.url }}/stat/"
                {% endif %}>Stat</a>
            </li>
            <li><a href="https://github.com/vim-jp/reading-vimrc/wiki/Request">Request</a></li>
            <li><a href="https://gitter.im/vim-jp/reading-vimrc">Gitter (vim-jp/reading-vimrc)</a></li>
        </ul>
    </div>
</nav>
