<nav>
    <div class="nav-bar">
        <button class="nav-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="nav-head" href="{{ site.github.url | replace: 'http://', '//' }}/">vimrc読書会</a>
    </div>
    <div class="collapse navbar-collapse target">
        <ul class="nav-list">
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="{{ site.github.url | replace: 'http://', '//' }}/">Home</a></li>
            <li {% if page.url == '/archive/index.html' %}class="active"{% endif %}><a href="{{ site.github.url | replace: 'http://', '//' }}/archive/index.html">Archive</a></li>
            <li {% if page.url == '/stat/index.html' %}class="active"{% endif %}>
              <a
                {% if page.url == '/stat/index.html' %}
                  href=""
                  ng-href="{{ site.github.url | replace: 'http://', '//' }}/stat/#/"
                {% else %}
                  href="{{ site.github.url | replace: 'http://', '//' }}/stat/"
                {% endif %}>Stat</a>
            </li>
            <li><a href="https://github.com/vim-jp/reading-vimrc/wiki/Request" target="request">Request</a></li>
            <li><a href="https://app.gitter.im/#/room/#vim-jp_reading-vimrc:gitter.im" target="gitter">Chat room</a></li>
        </ul>
    </div>
</nav>
